<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <% if (login == false){ %>
    <%- include ("../../header.ejs") %>
    <% }else{ %>
    <%- include ("../../header_logout.ejs") %>
    <% } %>
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto flex items-center md:mx-auto">
            <div id="user-list" class="w-2/3 mx-auto h-[650px] bg-gray-200 rounded-lg  xs:p-4 p-4 flex mt-10 md:mt-5">
  
                <div class = "w-1/2 flex flex-col mx-auto rounded border-2 border-gray-400 px-2 py-2 ">
                    <span class = "text-lg mx-auto"> 유저DB</span>
                    <div class = "mx-auto w-full flex flex-col">
                        <div class="flex">
                            <div class ="w-1/6 px-2 py-1 border-r border-b border-gray-300 text-center"> # </div>
                            <div class = "w-full py-1 border-b border-gray-300 text-center"> 유저 ID</div>
                        </div> 
                        <% for(let i =1; i <= 10 ; i ++) {%>
                            
                            <div id = "col<%=i%>" class = "flex">
                                <div id = "index<%=i%>" class = "w-1/6 px-2 py-2 border-r  border-gray-300 text-center"> <%=i%> </div>
                                <a class = "w-full py-2 px-2 text-center hover:bg-gray-300" id = "user<%=i%>" href="#">
                                </a>
                            </div>
                            
                        <% } %>
                    </div>

                    <div class = "mx-auto">
                        <div class="grid grid-cols-4 space-x-2 rounded-xl bg-gray-200 p-2 mt-4 " x-data="app">
                            <% for(let i = 0; i < 1+ parseInt((userid.length - 1) / 10); i++ ) { %>
                            <div class="" >
                              <% if(i == 0) { %>
                              <input type="radio" name="option" id="<%=i+1%>" onclick = "showPage(1)" class="peer hidden" checked />
                              <%} else { %>
                              <input type="radio" name="option" id="<%=i+1%>" onclick = "showPage('<%=i+1%>')" class="peer hidden"/>
                              <% } %>
                              <label for="<%=i+1%>"
                                id = "page<%=i+1%>"
                                class="block cursor-pointer select-none rounded-xl p-2 text-center peer-checked:bg-yellow-500 peer-checked:font-bold peer-checked:text-white"><%=i+1%></label>
                            </div>
                            <%}%>
                        </div>
                    </div>
                    <div class = "mx-auto flex">
                        <input type="search"
                        id="keyword"
                        name = 'q'
                        class="block mr-2 w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:outline-none focus:ring-2 focus:ring-yellow-500"
                        placeholder="ID 검색"
                        onkeyup="if(window.event.keyCode==13){search(document.getElementById('keyword').value)}"
                        required>
                        <button type="button"
                        onclick = "search(document.getElementById('keyword').value)"
                        class="text-white bg-yellow-500 hover:bg-yellow-600 focus:ring-2 focus:outline-none focus:ring-yellow-700 font-medium rounded-lg text-sm px-2">
                        <svg aria-hidden="true" class="w-5 h-5 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                        </button>
                    </div>


                </div>





            </div>
        </div>
    </section>

    <script>
        let userIdArray = []
        "<% for (let user of userid){ %>"
        userIdArray.push("<%=user.userid%>")
        "<% } %>"
// 각 페이지 당 유저 변수 => user_on_page[n] : n+1 번 페이지에 올릴 유저 리스트
        let user_on_page = []
        let cnt = 0 ;
        let tmp = []
        for (let i = 0 ; i < userIdArray.length; i++){
            tmp.push(userIdArray[i])
            cnt++;
            if (cnt == 10 || i == (userIdArray.length - 1)) {
                cnt = 0
                user_on_page.push(tmp)
                tmp = []
            }
        }
        let page = 1;
        function showPage(p){
            for(let i = 0; i < 10; i ++)
            {   
                if(user_on_page[p-1][i])
                {
                    document.getElementById('col' + (i+1)).className = "flex"
                    document.getElementById('user' + (i+1)).textContent = user_on_page[p-1][i]
                    document.getElementById('user' + (i+1)).href = "/admin/userdb/edit?userid=" + user_on_page[p-1][i]
                    document.getElementById('index' + (i+1)).textContent = i+1 +  (p-1) * 10
                }
                else{
                    document.getElementById('col' + (i+1)).className = "hidden"
                }
            }
        }
        showPage(1);


        function search(keyword) {
            let result = []
            let tmp = []
            userIdArray.forEach((id, i) => {
                if (id.includes(keyword)){
                    tmp.push(id)
                }
                if(i % 10 == 9 || i == userIdArray.length -1 ){
                    if(tmp.length)
                    {
                        result.push(tmp)
                    }
                    tmp = []
                }
            })
            
            user_on_page = result
            if(!user_on_page.length){
                alert("검색 결과가 존재하지 않습니다.")
                return
            }
            
            showPage(1)
            for (let i = 1; i <= 4; i ++){
                if(document.getElementById(i))
                {
                    if (i > user_on_page.length)
                    {
                        document.getElementById("page"+i).className = 'hidden'
                    }
                    else
                    {
                        document.getElementById("page" + i).className = "block cursor-pointer select-none rounded-xl p-2 text-center peer-checked:bg-yellow-500 peer-checked:font-bold peer-checked:text-white"
                    }
                }
            }
        }





    </script>
</body>
</html>
