<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.css" rel="stylesheet" />
    <title>home</title>
</head>
<body>
  <% if (login == false){ %>
  <%- include ("header.ejs") %>
  <% }else{ %>
  <%- include ("header_logout.ejs") %>
  <% } %>
  
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-12 mx-auto">

      <div class="flex flex-col text-center w-full mb-10">
        <h2 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">사이트 설명</h2>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">지금 가입하면 100,000 포인트 지급..! </p>
      </div>
      
      <div class = "flex w-full flex-row ">

        <div class = "my-auto mx-2">
          <button onclick = 'pagemove(-1,startPage)'id = 'left' type="button" class="focus:ring-2 focus:outline-none focus:ring-yellow-400 font-medium rounded-full text-sm p-2 text-center inline-flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-big-left" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M20 15h-8v3.586a1 1 0 0 1 -1.707 .707l-6.586 -6.586a1 1 0 0 1 0 -1.414l6.586 -6.586a1 1 0 0 1 1.707 .707v3.586h8a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1z" />
            </svg>
          </button>
        </div>

        <div class="w-full flex flex-wrap -m-4">
  
          <% for(let i = 0 ; i < 3 ; i ++) { %>
            <div class="w-1/3 p-4 h-full">
              <% if(movielist[i]) { %>
              <div id = 'post<%=i%>'class="flex relative h-[500px]">
                <img id = "image<%=i%>" class="absolute inset-0 w-full h-full object-contain object-center" src="<%= movielist[i].poster_src %>">
                <div class="mx-auto px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-90">
                  <h1 id = "title<%=i%>" class="title-font text-lg font-medium text-gray-900 mb-3"><%= movielist[i].title %></h1>
                  <p id = "age<%=i%>" class="leading-relaxed"><%= movielist[i].age %>세 이용가</p>
                  <p id = "content<%=i%>" class="leading-relaxed">줄거리 : <%= movielist[i].content %></p>
                  <p id = "time<%=i%>" class="leading-relaxed">상영시간 : <%= Math.floor(movielist[i].runningTime) %> 시간 <%= Math.round(60*(movielist[i].runningTime - Math.floor(movielist[i].runningTime)))%> 분 </p>
                  <button id = "resv<%=i%>" href = "#" class="w-full text-white bg-yellow-500 border-0 py-2 px-8 focus:outline-none hover:bg-yellow-600 rounded text-lg">
                  예매 하기
                  </button>
                </div>
              </div>
              <% } %>
            </div>
          <% } %>
          
        </div>
        <div class ="my-auto mx-2">
          <button onclick ='pagemove(1,startPage)' id = 'right' type="button" class="focus:ring-2 focus:outline-none focus:ring-yellow-400 font-medium rounded-full text-sm p-2 text-center inline-flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-big-right" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M4 9h8v-3.586a1 1 0 0 1 1.707 -.707l6.586 6.586a1 1 0 0 1 0 1.414l-6.586 6.586a1 1 0 0 1 -1.707 -.707v-3.586h-8a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1z" />
            </svg>
          </button>
        </div>

      </div>
        
    </div>
    


  

    <% if(admin) { %>
      
    <div class = "text-center">
      관리자 페이지 : 
      <a href= "/admin/moviedb" class="w-1/3 text-white bg-yellow-500 border-0 py-2 px-8 focus:outline-none hover:bg-yellow-600 rounded text-lg">
        영화 DB</a>
      <a href= "/admin/userdb" class="w-1/3 text-white bg-yellow-500 border-0 py-2 px-8 focus:outline-none hover:bg-yellow-600 rounded text-lg">
        유저 DB</a>
        <a href = '/admin/movieentity' class="w-1/3 text-white bg-yellow-500 border-0 py-2 px-8 focus:outline-none hover:bg-yellow-600 rounded text-lg">
          타임 테이블 수정
          </a>
    </div>
    <% }  %>

  </section>


  <script>
    var startPage = 1;
    let num_of_movie = Number('<%= movielist.length%>');
    let pages = Math.ceil(num_of_movie / 3)
    let movie = []
    
    "<% for(let i = 0 ; i < movielist.length; i ++ ) {%>"
    movie.push({
      title : "<%=movielist[i].title%>",
      content : "<%=movielist[i].content%>",
      poster_src : "<%=movielist[i].poster_src%>",
      time : "<%=movielist[i].runningTime%>",
      age : "<%=movielist[i].age%>",
      id : "<%=movielist[i].id%>"
      
    })
    "<% } %>"

    function pagemove(dir ,Page){
      Page += dir;
      
      if (Page > pages){
        Page = 1
      }
      else if (Page ==0 ){
        Page = pages
      }
      startPage = Page
      showPage(startPage)
      }
    function showPage(page_now) {
      for(let i = 0; i < 3 ; i ++)
      {
        if(i+page_now*3-3 < movie.length){
          document.getElementById('title'+i).textContent = movie[i+page_now*3-3].title;
          document.getElementById('content'+i).textContent = '줄거리 : ' + movie[i+page_now*3-3].content;
          document.getElementById('age'+i).textContent = movie[i+page_now*3-3].age +'세 이용가';
          document.getElementById('time'+i).textContent = Math.floor(movie[i+page_now*3-3].time) + '시간 ' +  Math.round(60*(movie[i+page_now*3-3].time - Math.floor(movie[i+page_now*3-3].time))) + '분';
          document.getElementById('image'+i).src = movie[i+page_now*3-3].poster_src;
          document.getElementById('resv'+i).href = '#'
          document.getElementById('post'+i).className = "flex relative h-[500px]"
        }
        else{
          
          document.getElementById('post'+i).className = "invisible flex relative h-[500px]"
          
        }
      }

    }
    
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.js"></script>
</body>
</html>