<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
  <% if (login == false){ %>
    <%- include ("header.ejs") %>
    <% }else{ %>
    <%- include ("header_logout.ejs") %>
    <% } %>
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto flex items-center md:mx-auto">
            <div id="edit-box" class="w-full h-[600px] bg-gray-200 rounded-lg py-8 pl-8 pr-2 flex flex-row mt-10 md:mt-5">
                <div class = "w-1/2 h-full flex flex-col" >
                <form id ="moviepost" action = "/admin/moviedb/edit/<%=rows[0].id%>" method = 'POST' enctype="multipart/form-data" >
                    <div class="mt-8  relative mb-4 w-full">
                        <input type = "hidden" name = 'id' value = "<%= rows[0].id%>">
                      <div>
                        <label for="title" class="leading-7 text-sm text-gray-600">
                          영화 제목
                        </label>
                      </div>
                      <input type="text" value = "<%=rows[0].title %>" maxlength = '20' placeholder = '제목을 입력하세요.' id="title" name="title" class="w-full bg-white rounded border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out text-xs">
                    </div>
                    <div class="o relative mb-4 w-full">
                      <div>
                        <label for="content" class="leading-7 text-sm text-gray-600">
                          줄거리
                        </label>
                      </div>
                      <textarea cols ='100', rows = '3' placeholder = '줄거리를 입력하세요.' id="content" name="content" class="w-full bg-white rounded border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 pb-8 px-3 leading-8 transition-colors duration-200 ease-in-out text-xs"><%=rows[0].content %></textarea>
                    </div>
                    <div class="  relative mb-4 w-full">
                        <div>
                            <label for="passwordv" class="leading-7 text-sm text-gray-600">
                            이용자 나이
                            </label>
                            <label for="hour" class="md:ml-8 lg:ml-32 leading-7 text-sm text-gray-600">
                            상영시간
                            </label>
                        </div>
                        <div>
                            <select id="age" name = "age" class="w-[28%] h-[42px] bg-white rounded border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                                <option value='' selected>선택</option>
                                <option value="12">12세</option>
                                <option value="15">15세</option>
                                <option value="18">18세</option>
                                <option value="0">전체</option>
                            </select>
                            <input type="text" value = "<%= Math.floor(rows[0].runningTime) %>" id="hour" name="hour" maxlength = '1' oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                            class="w-1/12 bg-white rounded border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                            <label for="hour" class="leading-7 text-sm text-gray-600">
                            시간
                            </label>
                            <input type="text" value = "<%= Math.round(60*(rows[0].runningTime - Math.floor(rows[0].runningTime))) %>" id="minute" name="minute" maxlength = '2' oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                            class="w-1/12 bg-white rounded border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                            <label for="minute" class="leading-7 text-sm text-gray-600">
                            분
                            </label>
                        </div>
                    </div>
                    <div class="ml-8 relative mb-4 w-full">
                        <div>
                            <label for="image" class="leading-7 text-sm text-gray-600">
                                포스터
                            </label>
                        </div>
                        <input id = "input-img" type = "file" name ="image">
                    </div>
                    <div class = "w-1/4 mx-auto">  
                        <button type = "submit" class="w-full h-full text-white bg-yellow-500 border-0 py-2 px-2 focus:outline-none hover:bg-yellow-600 rounded text-lg">
                        수정
                        </button>
                     </div>
                </form>
                <div class="w-1/4 mt-4 mx-auto">
                    <button onclick = 'deleteConfirm()' class="w-full h-full text-white leading-5 bg-red-500 border-0 py-2 px-2 focus:outline-none hover:bg-red-600 rounded text-lg">
                        삭제
                    </button>
                </div>
                </div>
                    
                
                <div class = "w-1/2 ml-4 py-8">
                    <img id="poster" class= "w-full h-full object-contain object-center" src = "<%=rows[0].poster_src%>">
                </div>
                
            </div>
    
            </div>
          </div>
    </section>


<script>
    function readImage(input) {
        // 인풋 태그에 파일이 있는 경우
        if(input.files && input.files[0]) {
            // 이미지 파일인지 검사 (생략)
            // FileReader 인스턴스 생성
            const reader = new FileReader()
            // 이미지가 로드가 된 경우
            reader.onload = e => {
                const previewImage = document.getElementById("poster")
                previewImage.src = e.target.result
            }
            // reader가 이미지 읽도록 하기
            reader.readAsDataURL(input.files[0])
        }
    }
    const inputImage = document.getElementById("input-img")
    inputImage.addEventListener("change", e => {
    readImage(e.target)
})

function deleteConfirm(){
        if(confirm('삭제하시겠습니까?'))
        {
            fetch('', {
                method : "DELETE",
                headers : {
                    "Content-Type" : "application/json"
                },
                body : JSON.stringify({
                    id : "<%=rows[0].id%>"
                })        
            })
            .then(res => console.log(res.json))
            .then(alert('삭제가 완료되었습니다.'))
            .then(document.location.href='/admin/moviedb')
        
        }
 } 

</script>

</body>

</html>