<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
  <% if (login == false){ %>
    <%- include ("header.ejs") %>
    <% }else{ %>
    <%- include ("header_logout.ejs") %>
    <% } %>
    <section class='text-gray-600 body-font'>
        <div class = 'container mx-auto mt-20 flex flex-col min-w-[800px]'>
            <div class = 'w-2/3 mx-auto flex flex-col bg-gray-200 p-4 rounded-lg'>            
                <div class = 'w-full border-2 border-gray-400 bg-white mx-auto flex flex-col justify-center'>
                    <div class = 'p-4 text-[25px] font-bold text-center border-b border-gray-400'> 예매 내역 상세 조회</div>
                    <div class = 'flex flex-row'>
                        <div class = 'w-1/2 justify-center flex flex-col p-4 leading-8 border-r border-gray-400'>
                            <div class = "mx-auto flex flex-row">
                                <div class = 'flex flex-col mr-4 text-center font-bold text-[18px]'>
                                    <div> 예매번호 : </div>
                                    <div> 영화제목 : </div>
                                    <div> 결제일시 : </div>
                                    <div> 결제금액 : </div>
                                    <div> 극장 : </div>
                                    <div> 상영일시 : </div>
                                    <div> 상영시간 : </div>
                                    <div> 좌석 : </div>
                                    <div> 인원 : </div>
                                </div>
                                <div class = 'flex flex-col text-[18px]'>
                                    <div><%= log.logid %></div>
                                    <div><%= log.title %></div>
                                    <% let pdate = new Date(log.paydate); %>
                                    <div><%= pdate.getFullYear().toString() + '-' + ('0' + (pdate.getMonth() + 1)).slice(-2) + '-' + ('0' + pdate.getDate()).slice(-2)%> <%= ('0' + pdate.getHours()).slice(-2) + ' : ' + ('0' + pdate.getMinutes()).slice(-2) %></div>

                                    <div> <%= log.payment %>원</div>
                                    <div><%= log.placename %></div>
                                    <% let date = new Date(log.date); %>
                                    <div> <%=date.getFullYear() + '-'+ ('0' + (date.getMonth() + 1)).slice(-2) +'-'+ ('0'+date.getDate()).slice(-2) %> <%=(6+(log.start_time-1)*4) + ' : 00' %></div>
                                    <div><%=Math.floor(log.runningTime)%>시간 <%= Math.round(60*(log.runningTime - Math.floor(log.runningTime)))%>분 </div>
                                    <div><%= log.seat %></div>
                                    <div>일반 <%= log.num_adult %>명 청소년 <%= log.num_teen%>명</div>
                                </div>
                                 
                            </div>
                        </div>
                        <div class = 'w-1/2 flex flex-col p-4 '>
                            <img class = "w-2/3 mx-auto" src = "<%=log.poster_src%>">
                            <div class = 'mt-8 flex flex-row'>
                                <div class = "mx-auto">
                                    <button type = 'button'
                                    onclick = 'printTicket()'
                                    class = "bg-yellow-500 rounded p-4 text-white font-bold hover:bg-yellow-600">
                                        티켓 출력
                                    </button>
                                    
                                </div>
                                <% if(cancel){ %>
                                <div class = "mx-auto">
                                    <button type = 'button'
                                    onclick = 'deleteConfirm()'
                                    class = "bg-red-500 rounded p-4 text-white font-bold hover:bg-red-600">
                                    
                                        예매 취소
                                    </button>
                                </div>
                                <% } %>
                               
                            </div>
                            <div class = "text-sm text-gray-400 mt-1 mx-auto">
                                * 상영 시간이 지난 영화는 예매 취소가 불가능합니다
                            </div>
                        </div>

                    </div>

                </div>
            </div>


        </div>
    </section>


<script>

    function deleteConfirm(){
        if(confirm('예매를 취소하시겠습니까?'))
        {
            fetch('', {
                method : "DELETE",
                headers : {
                    "Content-Type" : "application/json"
                },
                body : JSON.stringify({
                    logid : "<%=log.logid%>"
                })        
            })
            .then(res => console.log(res.json))
            .then(alert('예매가 취소되었습니다'))
            .then(document.location.href='/user/mypage')
            .catch(err => console.log(err))
        
        }
    }
    function printTicket(){
        console.log(window.location.hostname)
        window.open('https://chart.apis.google.com/chart?cht=qr&chs=300x300&chl='+window.location.hostname+':8080/user/mypage/resvdetail/ticket/<%=log.logid%>', '티켓 출력', 'width=500, height=500, left=100, top=100');
    }
</script>

</body>
</html>
