<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
  <% if (login == false){ %>
    <%- include ("../../header.ejs") %>
    <% }else{ %>
    <%- include ("../../header_logout.ejs") %>
    <% } %>
    <section class="text-gray-600 body-font">
      <div class="w-2/3 container px-5 py-24 mx-auto flex items-center md:mx-auto">
        <div id="edit-box" class="w-full h-[600px] bg-gray-200 rounded-lg  xs:p-4 p-4 flex mt-10 md:mt-5">

          <div class = "w-2/3 bg-white rounded-lg">
            <div class = "flex flex-col">
              <span class= "mb-8 text-2xl text-center pt-8" >상영 영화 목록</span>

              <div class = "w-1/2 ml-4 ">
                <% for(let i = 0; i < 8; i ++) { %>
                  <% if(rows[i]) { %>
                    <div id = 'row<%=i%>' class = "w-[300px] ml-4 border-b-2">
                        <a class = 'py-2 px-8 hover:bg-yellow-500 hover:text-white rounded text-lg block whitespace-nowrap overflow-hidden text-ellipsis'
                        href = "/admin/moviedb/edit/<%=rows[i].movieid%>"
                        id = "movie<%=i%>">
                        <%= rows[i].title %></a>
                    </div>
                  <% } %> 
                <% } %> 
              </div>

              <div class="grid grid-cols-4 space-x-2 rounded-xl bg-gray-200 p-2 mx-auto mt-8" x-data="app">
                <% for(let i = 0; i < 1+ parseInt((rows.length - 1) / 8); i++ ) { %>
                <div class="" >
                  <% if(i == 0) { %>
                  <input type="radio" name="option" id="<%=i+1%>" onclick = 'movePage(event.target.id)' class="peer hidden" checked />
                  <%} else { %>
                  <input type="radio" name="option" id="<%=i+1%>" onclick = 'movePage(event.target.id)'class="peer hidden"/>
                  <% } %>
                  <label for="<%=i+1%>"
                    class="block cursor-pointer select-none rounded-xl p-2 text-center peer-checked:bg-yellow-500 peer-checked:font-bold peer-checked:text-white"><%=i+1%></label>
                </div>
                <%}%>
                
              </div>

            </div>
          </div>

          <div class="xs:mx-4 mx-auto my-auto">
          <a href= "/admin/moviedb/post"
          class="w-1/3 xs:w-1/4 text-white bg-yellow-500 border-0 py-2 px-2 focus:outline-none hover:bg-yellow-600 rounded text-lg">
            영화 DB 등록</a>
          </div>

        </div>
      </div>
    </section>



<script>
  let rows= []
    "<% for(let i = 0 ; i < rows.length; i ++ ) {%>"
    rows.push({
      title : "<%=rows[i].title%>",
      movieid : "<%=rows[i].movieid%>"
    })
    "<% } %>"
  function movePage(page)
  {

    for(let i = (page-1) * 8 ; i < 8 * page ; i++){
      let com = document.getElementById("movie" + (i%8) )
      if(rows[i]){
        com.textContent = rows[i].title;
        com.href = "/admin/moviedb/edit/" + rows[i].movieid ;
        document.getElementById("row" + (i%8)).className = "w-[300px] ml-4 border-b-2"
      }
      else {
        document.getElementById("row" + (i%8)).className = "w-[300px] ml-4 border-b-2 invisible"
      }
    }


  }

</script>
</body>

</html>