<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />        
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
    tailwind.config = {
        theme: {
            extend: {
                fontFamily: {
                    sans: ['Inter', 'sans-serif'],
                },
            }
        }
    }
    </script>
    <title>상영 개체 등록</title>
</head>
<body>
    <% if (login == false){ %>
    <%- include ("../../header.ejs") %>
    <% }else{ %>
    <%- include ("../../header_logout.ejs") %>
    <% } %>
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto flex items-center md:mx-auto min-w-[800px]">
            <div id="edit-box" class="w-full h-[600px] bg-gray-200 rounded-lg  xs:p-4 p-4 flex mt-10 md:mt-5">
                <form id ="entitypost" class = "w-full flex flex-row ml-4 h-full" action = "/admin/posttable" method = 'POST'>

                    <div class= "w-1/2 flex flex-col">
                        <div class="mx-auto relative mt-16 w-1/2">
                            <div>
                                <label for="select-place" class="leading-7 text-sm text-gray-600">
                                    극장 선택
                                </label>
                            </div>
                            <select id="select-place" name = "select-place" readonly class="w-full h-[42px] bg-white rounded border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                                <option value='<%=placeid%>' selected> <%= selected_place %></option>
                            </select> 
                        </div>

                        <div class = "mx-auto relative my-4 w-1/2">
                            <div class="flex">
                                <div class="datepicker relative form-floating mb-3 w-full" data-mdb-toggle-button="false">
                                <span class = "leading-7 text-sm text-gray-600">날짜 선택</span>
                                <input type="text"
                                    name = "select-date"
                                    id = "select-date"
                                    value ="<%= selected_date%>"
                                    readonly
                                    class="mt-2 w-full form-control block text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-yellow-600 focus:outline-none"
                                    placeholder="날짜 선택" data-mdb-toggle="datepicker" />
                                <label for="floatingInput" class="mt-2 text-gray-700"></label>
                                </div>
                            </div>
                        </div>

                        <div class="mb-4 mx-auto relative w-1/2">
                            <div>
                                <label for="select-movie" class="leading-7 text-sm text-gray-600">
                                영화 선택
                                </label>
                            </div>
                            <select id="select-movie" name = "select-movie" class="w-full h-[42px] bg-white rounded border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                            <option value='' selected>선택</option>
                            <% for(let i = 0; i < movielist.length; i++) { %>
                            <option value ='<%=movielist[i].movieid%>'><%=movielist[i].title%></option>
                            <%} %>
                            </select>
                        </div>
                        <div class="w-1/3 mx-auto mt-20" >
                            <button type = "submit" class="w-full h-[40px] text-white bg-yellow-500 border-0 py-2 px-2 focus:outline-none hover:bg-yellow-600 rounded text-lg">
                            등록
                            </button>
                        </div>
                    </div>

                    <div class = "w-1/2 ml-12 border-2 border-gray-400 pt-12">
                     <table class="table-auto text-center mx-auto">
                        <thead class = "border-b border-gray-300" >
                          <tr>
                            <th>시간표</th>
                            <th>영화 이름</th>
                            <th> </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr id = "table-row-0" class = "cursor-pointer border-b border-gray-300">
                              <% if(timetable[0].time1){ %>
                                <td class = "whitespace-nowrap px-8 py-8">
                                    <input type = radio value = '0' id = '0' name = 'select-time' disabled> 06:00~10:00
                                </td>
                                <td class = "px-8 py-8 whitespace-nowrap overflow-hidden text-ellipsis ">
                                    <%= moviedetail[timetable[0].time1] %>
                                <% } else { %>
                                        
                                <td class = "whitespace-nowrap px-8 py-8">
                                    <input type = radio value = '0' id = '0' name = 'select-time' > 06:00~10:00
                                </td>
                                <td class = "px-8 py-8">
                                    비어 있음
                                <% } %>
                                </td>
                                <td>
                                    <% if (timetable[0].time1) { %>
                                        <button type = 'button' onclick="deleteConfirm(1)" class = "px-2 py-2 bg-red-400 rounded text-white hover:bg-red-500"> 삭제 </button>
                                    <% } %>
                                </td>  
                          </tr>
                          <tr id = "table-row-1" class = "cursor-pointer border-b border-gray-300">
                            <% if(timetable[0].time2){ %>
                              <td class = "px-8 py-8">
                                  <input type = radio value = '1' id = '1' name = 'select-time' disabled> 10:00~14:00
                              </td>
                              <td class = "px-8 py-8 whitespace-nowrap overflow-hidden text-ellipsis ">
                                  <%= moviedetail[timetable[0].time2] %>
                              <% } else { %>
                                      
                              <td class = "px-8 py-8">
                                  <input type = radio value = '1' id = '1' name = 'select-time'> 10:00~14:00
                              </td>
                              <td class = "px-8 py-8">
                                  비어 있음
                              <% } %>
                              </td>
                              <td>
                                <% if (timetable[0].time2) { %>
                                    <button type = 'button' onclick="deleteConfirm(2)" class = "px-2 py-2 bg-red-400 rounded text-white hover:bg-red-500"> 삭제 </button>
                                <% } %>
                            </td>  
                        </tr>
                        <tr id = "table-row-2" class = "cursor-pointer border-b border-gray-300">
                            <% if(timetable[0].time3){ %>
                              <td class = "px-8 py-8">
                                  <input type = radio value = '2' id = '2' name = 'select-time' disabled> 14:00~18:00
                              </td>
                              <td class = "px-8 py-8 whitespace-nowrap overflow-hidden text-ellipsis ">
                                  <%= moviedetail[timetable[0].time3] %>
                              <% } else { %>
                                      
                              <td class = "px-8 py-8">
                                  <input type = radio value = '2' id = '2' name = 'select-time'> 14:00~18:00
                              </td>
                              <td class = "px-8 py-8">
                                  비어 있음
                              <% } %>
                              </td>
                              <td>
                                <% if (timetable[0].time3) { %>
                                    <button type = 'button' onclick="deleteConfirm(3)" class = "px-2 py-2 bg-red-400 rounded text-white hover:bg-red-500"> 삭제 </button>
                                <% } %>
                            </td>  
                        </tr>
                        <tr id = "table-row-3" class = "cursor-pointer border-b border-gray-300">
                            <% if(timetable[0].time4){ %>
                              <td class = "px-8 py-8">
                                  <input type = radio value = '3' id = '3' name = 'select-time' disabled> 18:00~22:00
                              </td>
                              <td class = "px-8 py-8 whitespace-nowrap overflow-hidden text-ellipsis ">
                                  <%= moviedetail[timetable[0].time4] %>
                                
                              <% } else { %>
                                      
                              <td class = "px-8 py-8">
                                  <input type = radio value = '3' id = '3' name = 'select-time'> 18:00~22:00
                              </td>
                              <td class = "px-8 py-8">
                                  비어 있음
                              <% } %>
                              </td>
                              <td>
                                <% if (timetable[0].time4) { %>
                                    <button type = 'button' onclick="deleteConfirm(4)" class = "px-2 py-2 bg-red-400 rounded text-white hover:bg-red-500"> 삭제 </button>
                                <% } %>
                            </td>  
                        </tr>
                        <tr id = "table-row-4" class = "cursor-pointer border-b border-gray-300">
                            <% if(timetable[0].time5){ %>
                              <td class = "px-8 py-8">
                                  <input type = radio value = '4' id = '4' name = 'select-time' disabled> 22:00~02:00
                              </td>
                              <td class = "px-8 py-8 whitespace-nowrap overflow-hidden text-ellipsis ">
                                  <%= moviedetail[timetable[0].time5] %>
                              <% } else { %>
                                      
                              <td class = "px-8 py-8">
                                  <input type = radio value = '4' id = '4' name = 'select-time'> 22:00~02:00
                              </td>
                              <td class = "px-8 py-8">
                                  비어 있음
                              <% } %>
                              </td>
                              <td>
                                <% if (timetable[0].time5) { %>
                                    <button type = 'button' onclick="deleteConfirm(5)" class = "px-2 py-2 bg-red-400 rounded text-white hover:bg-red-500"> 삭제 </button>
                                <% } %>
                            </td>  
                        </tr>
                        </tbody>
                      </table>
                    </div>
                </form>
            </div>
        </div>
    </section>

<script>
    for (let i = 0; i < 5 ; i ++){
        let button = document.getElementById(''+i)
        if(!button.disabled) {
            document.getElementById('table-row-'+i).addEventListener('click',(event)=>{
                button.checked=true;
            })
        }
    } 

    function deleteConfirm(selecttime){
        if(confirm('삭제하시겠습니까?'))
        {
            fetch('', {
                method : "DELETE",
                headers : {
                    "Content-Type" : "application/json"
                },
                body : JSON.stringify({
                    time : selecttime
                })        
            })
            .then(res => console.log(res.json))
            .then(alert('삭제가 완료되었습니다.'))
            .then(document.location.href='/admin/selectdate')
        } 
        
    } 
    
</script>

<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
</body>
</html>


